Package: netshunt
Version: {{.Version}}
Depends: ipset, iptables, dnscrypt-proxy2, conntrack
Section: net
Architecture: {{.Architecture}}
Installed-Size: {{.InstalledSize}}
Description: Selective traffic routing through proxy/VPN for Keenetic routers.
