Package: kst
Version: {{.Version}}
Depends: dnsmasq-full, ipset, iptables, dnscrypt-proxy2
Section: net
Architecture: aarch64-3.10
Installed-Size: {{.InstalledSize}}
Description: Split tunnel for Keenetic routers with Shadowsocks, Web UI, and host groups.
