Package: netshunt
Version: {{.Version}}
Depends: dnsmasq-full, ipset, iptables, dnscrypt-proxy2
Section: net
Architecture: aarch64-3.10
Installed-Size: {{.InstalledSize}}
Description: Selective traffic routing through proxy/VPN for Keenetic routers.
